<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Important to make website responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuisine and Recipe Recommendation</title>

    <!-- Link our CSS file -->

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Auto Complete -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/css/autoComplete.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <script>
        var dishes = {{ data|safe }};
    </script>

</head>

<body>
    <!-- Navbar Section Starts Here -->
    <!-- <section class="navbar">
        <div class="container">
            <div class="logo">
                <a href="#" title="Logo">
                    <img src="{{ url_for('static',filename='cuisine.png') }}" class="img-responsive">
                </a>
            </div>

            <div class="menu text-right">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="categories.html">Categories</a>
                    </li>
                    <li>
                        <a href="foods.html">Foods</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </section>  -->
    <!-- Navbar Section Ends Here -->
    <section class="food-menu_inner">
        <div class="container">
            <h2 class="text-center">Objective 4</h2>
            <h3 class="text-center">Search a Recipe</h3>
        </div>

        <!-- fOOD sEARCH Section Starts Here -->
        <section class="food-search text-center">
            <div class="form-group shadow-textarea" style="margin-top: 30px;text-align: center;color: white;">
                    <input type="search" name="search" placeholder="Search for any Dish..." id="autoComplete" autocomplete="off" required style="background-color: #ffffff;border-color:#000;width: 60%;color: #181818">

            </div>
        </section>
    </section>
    <!-- fOOD sEARCH Section Ends Here -->

    <!-- CAtegories Section Starts Here -->
    <!-- <section class="categories">
        <div class="container">
            <h2 class="text-center">Explore Foods</h2>

            <a href="category-foods.html">
            <div class="box-3 float-container">
                <img src="images/pizza.jpg" alt="Pizza" class="img-responsive img-curve">

                <h3 class="float-text text-white">Pizza</h3>
            </div>
            </a>

            <a href="#">
            <div class="box-3 float-container">
                <img src="images/burger.jpg" alt="Burger" class="img-responsive img-curve">

                <h3 class="float-text text-white">Burger</h3>
            </div>
            </a>

            <a href="#">
            <div class="box-3 float-container">
                <img src="images/momo.jpg" alt="Momo" class="img-responsive img-curve">

                <h3 class="float-text text-white">Momo</h3>
            </div>
            </a>

            <div class="clearfix"></div>
        </div>
    </section> -->
    <!-- Categories Section Ends Here -->

    <!-- fOOD MEnu Section Starts Here -->
    <!-- <section class="food-menu">
        <div class="container">

            <div class="food-menu-box-centre">
                <div class="food-menu-img">
                    <img src="{{ url_for('static',filename='cuisine.png') }}" class="img-responsive img-curve">
                </div>

                <div class="food-menu-desc">
                    <h4>Objective 1</h4>
                    <p class="food-price">Cuisine Prediction</p>
                    <p class="food-detail">
                        From list of ingredients and we will predict the cuisine! Our dataset consists of 50+ cuisines from all over the world.
                    </p>
                    <br>

                    <a href="order.html" class="btn btn-primary">View Feature</a>
                </div>
            </div>

        </div>
    </section> -->
    <!-- fOOD Menu Section Ends Here -->

    <!-- social Section Starts Here -->
    <!-- <section class="social">
        <div class="container text-center">
            <ul>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/twitter.png"/></a>
                </li>
            </ul>
        </div>
    </section> -->
    <!-- social Section Ends Here -->

    <!-- footer Section Starts Here -->
    <!-- <section class="footer">
        <div class="container text-center">
            <p>Designed By <a href="#">Pratik Patil</a> and <a href="#">Prerna Tulsiani</a></p>
        </div>
    </section> -->
    <!-- footer Section Ends Here -->
    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='autocomplete.js')}}"></script>

</body>
</html>